body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #ffffff;
  color: #222;
  text-align: center;
}

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

body.dark-mode .card {
  background-color: #1f1f1f;
  color: #fff;
}
